.dropbtn {
  background-color: purple;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin: 20px;
  text-decoration: none;
  border-radius: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-left: 44%;

  background-color: #f1f1f1;
  min-width: 160px;
  max-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-decoration: none;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;

  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown-content ul {
  list-style-type: none;
  margin-left: 0px;
}
.dropdown:hover .dropdown-content {
  display: block;
  text-decoration: none;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.dropdown {
  text-align: center;
  text-decoration: none;
  background-color: black;
}

.notInArea {
  text-align: center;
  height: 60vh;
}

.dropdown li ul {
  width: 300px;
}
