#topPage h2 {
  text-align: center;
  color: black;
}

#topPage {
  background-color: white;
}

#topPage ul {
  margin: 0px;
  padding: 0;
  text-align: center;
  list-style-type: none;
  margin-top: 12px;
}

#topPage a {
  color: black;
}

topPage li {
  margin-top: 10px;
}
