.mainDisplay {
  border: 3px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 50vh;
  margin: 0px;
}

.container2 {
  background-image: url("/images/pizza.jpg");
  flex-basis: 50%;
  background-size: cover;
}

.container1 {
  background-image: url("/images/pasta.jpg");
  flex-basis: 50%;
  align-items: center;
  background-size: cover;
}

.mainDisplay a {
  text-decoration: none;
}
