.LoginPage {
  width: 280px;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 770px) {
  .LoginPage {
    width: 400px;
    align-items: center;
    margin-left: 37%;
    margin-right: auto;
  }

  .red {
    color: red;
    font-size: xx-large;
  }
}
