.regButton {
  margin: 10px;
}

.registrationForm {
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-items: center;
  height: 50vh;
  align-items: center;
}

#userform {
  width: 280px;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 770px) {
  #userform {
    width: 400px;
    align-items: center;
    margin-left: 37%;
    margin-right: auto;
  }

  .type {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  #egistrationForm__type {
    font-size: xx-large;
  }
}
